In [2]:
import pandas as pd
import numpy as np

In [10]:
beer = pd.read_csv("anna.csv")
sentiments = pd.read_csv("sentiments.csv")
morefeatures = pd.read_csv("more_features.csv")

In [4]:
beer.shape

(37490, 17)

In [5]:
sentiments.shape

(37490, 11)

In [6]:
beer.head(1)

,index,beer/ABV,beer/beerId,beer/brewerId,beer/name,beer/style,review/appearance,review/aroma,review/overall,review/palate,review/taste,review/text,review/timeStruct,stopwordcount,charcount,cursewordcount,uniquecursewordcount
0,40163,5.0,46634,14338,Chiostro,Herbed / Spiced Beer,4.0,4.0,4.0,4.0,4.0,"['Pours', 'a', 'clouded', 'gold', 'with', 'a',...","{'min': 38, 'hour': 3, 'mday': 16, 'sec': 10, ...",42,415,0,0

In [7]:
sentiments.head(1)

,exceptional,excellent,fantastic,wonderful,highly,ok,average,bad,corn,sipper,group_lda
0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
joined = pd.concat([beer, sentiments, morefeatures], axis=1)
np.average(joined["charcount"])

563.65958922379298

In [13]:
joined.to_csv("all_attributes.csv", encoding = "utf-8", index = False)